.quote-in-section {
    p {
        font-size: $quote-content-font-size;
        color: $quote-content-color;
        line-height: $quote-content-line-height;
    }
}

.quote-author {
    display: flex;
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(30);
    
    img {
        box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
        border-radius: 50%;
    }
    figcaption {
        font-size: $quote-author-name-font-size;
        color: $quote-author-name-color;
        font-weight: 600;
        margin-left: rem-calc(10);
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}