$quote-content-font-size: rem-calc(16);
$quote-content-color: $color-silver;
$quote-content-line-height: rem-calc(30);
$quote-author-name-font-size: rem-calc(12);
$quote-author-name-color: $color-black;
