/app/bootstrap.php.cache
/app/cache
/app/logs
/assets/vendor
!/assets/vendor/.gitkeep
/node_modules
!/node_modules/.gitkeep

/REVISION
/ngrok.yml

/common/parameters.yml
/common/parameters.*.yml
/common/parameters.php
/common/hosts.php
/common/hosts.php.bak
/var/cache/*
!/var/cache/.gitkeep
/var/logs/*
!/var/logs/.gitkeep

/app/config/parameters.yml
/app/phpunit.xml

/web/webpage
!/web/webpage/.gitkeep

/web/angular-app
/web/logs
!/web/angular-app/.gitkeep

/web/landing
!/web/landing/.gitkeep

/web/backoffice
/web/landing
/web/logs
/applications/logs/vendor/
/applications/logs/var/cache/
!/applications/logs/var/cache/.gitkeep
/applications/logs/var/logs/
/applications/logs/var/bootstrap.php.cache
/applications/logs/var/SymfonyRequirements.php
!/applications/logs/var/logs/.gitkeep
/applications/logs/var/sessions/
/applications/logs/bin/symfony_requirements
!/applications/logs/var/sessions/.gitkeep
/applications/logs/app/config/parameters.yml

/web/integrations
/applications/integrations/vendor/
/applications/integrations/var/cache/
!/applications/integrations/var/cache/.gitkeep
/applications/integrations/var/logs/
/applications/integrations/var/bootstrap.php.cache
/applications/integrations/var/SymfonyRequirements.php
!/applications/integrations/var/logs/.gitkeep
/applications/integrations/var/sessions/
/applications/integrations/bin/symfony_requirements
!/applications/integrations/var/sessions/.gitkeep
/applications/integrations/app/config/parameters.yml

/web/backoffice
/applications/backoffice/vendor/
/applications/backoffice/var/cache/
!/applications/backoffice/var/cache/.gitkeep
/applications/backoffice/var/logs/
/applications/backoffice/var/bootstrap.php.cache
/applications/backoffice/var/SymfonyRequirements.php
!/applications/backoffice/var/logs/.gitkeep
/applications/backoffice/var/sessions/
/applications/backoffice/bin/symfony_requirements
!/applications/backoffice/var/sessions/.gitkeep
/applications/backoffice/app/config/parameters.yml

/applications/webpage/var/cache/*
/applications/webpage/var/logs/*
!/applications/webpage/var/logs/.gitkeep
!/applications/webpage/var/cache/.gitkeep

/bin/*
!/bin/backend
!/bin/etsy
!/bin/ebay
!/bin/admin
!/bin/app
!/bin/channel
!/bin/backoffice
!/bin/asset
!/bin/webpage
!/bin/notify
!/bin/shopify
!/bin/shoplo
!/bin/woocommerce
!/bin/dawanda
!/bin/dawanda_en
!/bin/dawanda_de
!/bin/dawanda_pl
!/bin/backoffice
!/bin/feed
!/bin/showroom
!/bin/webhooks

/cap/log

/composer.phar
/vendor/
/web/bundles/
.idea

*.scssc

*.codekit
.DS_Store
/tests/var/*
!/tests/var/.gitkeep
/*.log