$main-links-font-size: $font-size-xxx-small;
$main-links-font-weight: 600;
$main-links-color: $color-black;
$main-links-color-hover: $color-green;


$footer-menu-links-font-size: $font-size-xxx-small;
$footer-menu-links-font-weight: 400;
$footer-menu-links-color: $color-gray;
$footer-menu-links-color-hover: $color-green;