<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article - HC</title>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <link rel="stylesheet" href="../css/hc.css">
</head>
<body>

<header class="page-header">
    <div class="row">
        <div class="logo sm-12 md-6 lg-6 columns align-left">
            <a href="">
                <img src="../images/hc_logo.svg" alt="shoplo logo">
                <span>Help Center</span>
            </a>
        </div>
        <div class="sm-12 md-6 lg-6 columns align-right">
            <div class="btn-group">
                <a class="btn-login-shoplo" href="">Shoplo.com</a>
                <a href="" class="btn btn-green btn-without-shadow btn-with-icon">
                    <i class="icon-hc icon-hc-user"></i>
                    Logowanie
                </a>
            </div>
        </div>
    </div>
</header>

<section class="search-bar search-bar-with-background">
    <div class="row">
        <div class="search-form sm-12 md-10 md-offset-1 lg-8 lg-offset-2 columns">
            <form action="" class="form-inline">
                <div class="input-group">
                    <input type="text" placeholder="Szukaj w Centrum Pomocy Shoplo">
                    <button class="icon icon-search" type="submit"></button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="articles-list">
    <div class="row">
        <header class="articles-header sm-12 md-12 lg-12 columns">
            <h2>
                Przed otwarciem sklepu
            </h2>
        </header>
        <div class="articles-navigation sm-12 md-3 lg-4 columns">
            <div class="sticky-box">
                <div class="nav-box">
                <span class="label">
                    Label
                </span>
                    <ul class="nav">
                        <li>
                            <a href="">Intro to Shopify</a>
                        </li>
                        <li>
                            <a href="">Your account</a>
                        </li>
                        <li>
                            <a href="">Migrating to Shopify</a>
                        </li>
                        <li>
                            <a href="">Shopify community</a>
                        </li>
                        <li>
                            <a href="">Selling online</a>
                        </li>
                        <li>
                            <a href="">Selling in person</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-box">
                <span class="label">
                    Label
                </span>
                    <ul class="nav">
                        <li>
                            <a href="">Intro to Shopify</a>
                        </li>
                        <li>
                            <a href="">Your account</a>
                        </li>
                        <li>
                            <a href="">Migrating to Shopify</a>
                        </li>
                        <li>
                            <a href="">Shopify community</a>
                        </li>
                        <li>
                            <a href="">Selling online</a>
                        </li>
                        <li>
                            <a href="">Selling in person</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="articles sm-12 md-9 lg-8 columns">
            <div class="single-article">
                <h3>
                    Co to jest Shoplo?
                </h3>
                <p>
                    Nie. Kreator udostępniamy naszym klientom bez dodatkowych opłat. Możesz z niego skorzystać zarówno w okresie testowym, jak i po opłaceniu abonamentu.
                </p>
            </div>

            <div class="single-article">
                <h3>
                    Co to jest Shoplo?
                </h3>
                <p>
                    Nie. Kreator udostępniamy naszym klientom bez dodatkowych opłat. Możesz z niego skorzystać zarówno w okresie testowym, jak i po opłaceniu abonamentu.
                </p>
            </div>

            <div class="single-article">
                <h3>
                    Co to jest Shoplo?
                </h3>
                <p>
                    Nie. Kreator udostępniamy naszym klientom bez dodatkowych opłat. Możesz z niego skorzystać zarówno w okresie testowym, jak i po opłaceniu abonamentu.
                </p>
            </div>

            <div class="single-article">
                <h3>
                    Co to jest Shoplo?
                </h3>
                <p>
                    Nie. Kreator udostępniamy naszym klientom bez dodatkowych opłat. Możesz z niego skorzystać zarówno w okresie testowym, jak i po opłaceniu abonamentu.
                </p>
            </div>

            <div class="single-article">
                <h3>
                    Co to jest Shoplo?
                </h3>
                <p>
                    Nie. Kreator udostępniamy naszym klientom bez dodatkowych opłat. Możesz z niego skorzystać zarówno w okresie testowym, jak i po opłaceniu abonamentu.
                </p>
            </div>

            <div class="single-article">
                <h3>
                    Co to jest Shoplo?
                </h3>
                <p>
                    Nie. Kreator udostępniamy naszym klientom bez dodatkowych opłat. Możesz z niego skorzystać zarówno w okresie testowym, jak i po opłaceniu abonamentu.
                </p>
            </div>

            <div class="single-article">
                <h3>
                    Co to jest Shoplo?
                </h3>
                <p>
                    Nie. Kreator udostępniamy naszym klientom bez dodatkowych opłat. Możesz z niego skorzystać zarówno w okresie testowym, jak i po opłaceniu abonamentu.
                </p>
            </div>

            <div class="single-article">
                <h3>
                    Co to jest Shoplo?
                </h3>
                <p>
                    Nie. Kreator udostępniamy naszym klientom bez dodatkowych opłat. Możesz z niego skorzystać zarówno w okresie testowym, jak i po opłaceniu abonamentu.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="contact-support">
    <div class="row">
        <div class="sm-12 columns align-center">
            <div class="contact-support-text">
                <p>
                    Still can’t find what you're looking for? <a class="green-link" href="">Contact Support</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="newsletter">
    <div class="newsletter-form">
        <header class="row">
            <div class="sm-12">
                <h2>Wypróbuj Shoplo za darmo</h2>
            </div>
        </header>
        <div class="row">
            <div class="sm-12 md-8 lg-6 md-offset-2 lg-offset-3 columns">
                <form action="http://store.shoplo.com/pl/register" method="get" class="form-inline">
                    <div class="input-group">
                        <fieldset id="fieldset_store" class="form-control-input-wrapper ">
                            <i class="icon icon-email"></i>
                            <div class="fieldset-content">
                                <label for="store_name" class="floating-label">Twój email<span>*</span></label>
                                <input type="text" name="store_email" placeholder="Twój email" required="" data-error-message="error message" data-error-placement="top" data-container="#fieldset_store" class="form-control">
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-green btn-without-shadow">Rozpocznij test</button>
                    </div>
                </form>
                <small>Założenie konta oznacza akceptację <a href="/terms">regulaminu</a> Shoplo.com.</small>

            </div>
        </div>
    </div>
</section>

<footer class="main-footer">
    <div class="row">
        <div class="sm-12 md-2 columns">
            <nav class="footer-nav">
                <h3><i class="icon icon-box"></i>Produkty</h3>
                <ul>
                    <li><a href="http://www.shoplo.pl/sklep-internetowy">Sklep internetowy</a></li>
                    <li><a href="http://www.shoplo.pl/multichannel-ecommerce">Shoplo Multichannel</a></li>
                    <li><a href="http://landing.shoplo.com/pl/lp/facebook?__hstc=45464059.871f58e64405dd0ebbe2e4e1d6b4b6cf.1498204223122.1498254448410.1498307904059.6&amp;__hssc=45464059.1.1498307904059&amp;__hsfp=20495154">Sklep na Facebooku</a></li>
                    <li><a href="http://blog.shoplo.com/?__hstc=45464059.871f58e64405dd0ebbe2e4e1d6b4b6cf.1498204223122.1498254448410.1498307904059.6&amp;__hssc=45464059.1.1498307904059&amp;__hsfp=20495154">Akademia Biznesu</a></li>
                </ul>
            </nav>
        </div>
        <div class="sm-12 md-2 columns">
            <nav class="footer-nav">
                <h3><i class="icon icon-puzzle"></i>Dodatki</h3>
                <ul>
                    <li><a href="http://www.shoplo.pl/store/apps">Dodatki w App Store</a></li>
                    <li><a href="http://www.shoplo.pl/integrations/payments">Płatności</a></li>
                    <li><a href="http://www.shoplo.pl/integrations/shipping">Dostawa</a></li>
                    <li><a href="http://www.shoplo.pl/store/themes">Szablony</a></li>
                    <li><a href="http://www.shoplo.pl/lp/inspirations">Inspiracje</a></li>
                </ul>
            </nav>
        </div>
        <div class="sm-12 md-2 columns">
            <nav class="footer-nav">
                <h3><i class="icon icon-info"></i>Partnerzy</h3>
                <ul>
                    <li><a href="http://partners.shoplo.com/pl?__hstc=45464059.871f58e64405dd0ebbe2e4e1d6b4b6cf.1498204223122.1498254448410.1498307904059.6&amp;__hssc=45464059.1.1498307904059&amp;__hsfp=20495154">Program Partnerski</a></li>
                    <li><a href="http://docs.shoplo.com/?__hstc=45464059.871f58e64405dd0ebbe2e4e1d6b4b6cf.1498204223122.1498254448410.1498307904059.6&amp;__hssc=45464059.1.1498307904059&amp;__hsfp=20495154">Dokumentacja API</a></li>
                    <li><a href="http://partners.shoplo.com/pl/partners-themes?__hstc=45464059.871f58e64405dd0ebbe2e4e1d6b4b6cf.1498204223122.1498254448410.1498307904059.6&amp;__hssc=45464059.1.1498307904059&amp;__hsfp=20495154">Dla grafików</a></li>
                    <li><a href="http://partners.shoplo.com/pl/partners-affiliate?__hstc=45464059.871f58e64405dd0ebbe2e4e1d6b4b6cf.1498204223122.1498254448410.1498307904059.6&amp;__hssc=45464059.1.1498307904059&amp;__hsfp=20495154">Dla resellerów</a></li>
                </ul>
            </nav>
        </div>
        <div class="sm-12 md-2 columns">
            <nav class="footer-nav">
                <h3><i class="icon icon-info"></i>O nas</h3>
                <ul>
                    <li><a href="http://careers.shoplo.com/?__hstc=45464059.871f58e64405dd0ebbe2e4e1d6b4b6cf.1498204223122.1498254448410.1498307904059.6&amp;__hssc=45464059.1.1498307904059&amp;__hsfp=20495154">Praca w Shoplo</a></li>
                    <li><a href="http://www.shoplo.pl/media">Media</a></li>
                </ul>
            </nav>
        </div>


        <div class="sm-12 md-4 columns">
            <div class="footer-address">
                <h3><i class="icon icon-marker"></i>Adres</h3>
                <div class="row">
                    <div class="sm-6 columns">
                        <ul>
                            <li><p>Warszawa</p></li>
                            <li><p>ul. Słomińskiego 7/777</p></li>
                            <li><p>00-195 Warszawa</p></li>
                            <li><p>Tel. +48 22 873 83 43</p></li>
                        </ul>
                    </div>
                    <div class="sm-6">
                        <ul>
                            <li><p>Londyn "The Dock"</p></li>
                            <li><p>Wapping Ln, Wapping</p></li>
                            <li><p>E1W 2SF London</p></li>
                            <li><p>Wielka Brytania</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sm-12 footer-note align-center">
            <i class="icon icon-logo-s">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
            </i>
            <p>© All rights reserved 2017. Shoplo sp. z o.o. | <a href="/terms">Regulamin</a> oraz <a href="http://www.shoplo.pl/cookies-policy">Polityka cookies</a></p>

        </div>

    </div>
</footer>

</body>
</html>