.articles-list{
  margin-bottom: rem-calc(56);

  header{
    margin-bottom: rem-calc(55);

    h2{
      font-weight: 400;
      font-size: $font-size-large;
      color: $color-black;
      margin: 0;
      padding-top: rem-calc(43);
      padding-bottom: rem-calc(23);
      border-bottom: rem-calc(1) solid $color-gray-lightest;
    }
  }

  .category-list{
    margin-top: rem-calc(45);
  }

  .articles-navigation{
    position: relative;

    .sticky-box{
      @include breakpoint(lg){
        position: sticky;
        top: rem-calc(90);
      }
    }

    .label{
      font-size: $font-size-small;
      font-weight: 600;
      color: $color-black;
      display: block;
      line-height: rem-calc(30);
    }

    .nav-box{
      margin-bottom: rem-calc(52);
    }

    ul{
      @extend .clear-list;

      li{
        line-height: rem-calc(30);
      }

      a{
        @extend .green-link;
        font-size: $font-size-small;
      }
    }
  }

  .articles{

    .single-article{
      margin-bottom: rem-calc(32);

      h3{
        font-weight: 400;
        font-size: $font-size-large;
        color: $color-black;
        margin: 0;
        line-height: rem-calc(34);
      }

      p{
        font-size: $font-size-base;
        color: $color-black;
        font-weight: 400;
        margin: 0;
        line-height: rem-calc(34);
      }

      img{
        border: 1px solid $color-gray-lightest;
        border-radius: rem-calc(10);
        max-width: 100%;
      }
    }
  }
}